<!-- <nav class="navbar navbar-light bg-info"> Offer Of The Day</nav> -->


<div class="container ">

  <!-- <div class="card-deck "> -->

      <div class="row col-lg-12  ">
        <div class="col-md-3  d-flex ">
        <div class="card card-cascade narrower mb-3 border border-dark" style="margin-top: 28px">
          <div class="view view-cascade">
            <img class="card-img-top img-fluid img-responsive imageClass center-block" [src]="imagePath1"  alt="Card image cap" >
            <p class="card-text" id="myModalLabel">Upto 50% + Extra 20% Off On Rs.2,499 </p>
            <!-- <a>
              <div class="mask rgba-white-slight"></div>
            </a> -->
          </div> 
          <button type="button" class="btn  btn-outline-primary mx-auto d-block" data-target="#exampleModalCenter" data-toggle="modal"> Get Coupon
              <span class="spinner-grow spinner-grow-sm"></span>
          </button>
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
        
                      <h4 class="modal-title text-center" id="myModalLabel">Exclusive Offer – Flat 10% Off On Rs.2000 And Above</h4>
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                      </div>
                <div class="modal-body">
                  <h6 class="text-center" style="font-size:20px;">Copy The Below Coupon &amp; Apply It At The Time Of Payment</h6>
<div class="text-center">
   
  <div class="clicktoreveal-code" value="CGURUTITAN" id="myInput" style="font-size:25px !important;">
CGURUTITAN



      

</div></div>

<p class="text-center" style="font-weight:bold">Coupon Copied? Now <a href="#" target="_blank" rel="nofollow"> </a> and paste the code at the time of payment</p>
                </div>
                </div>
                </div>
                </div>
                
        
       
          
        
        
        </div>
      </div>
      <div class="col-md-3   d-flex ">
          <div class="card card-cascade narrower mb-3 border border-dark " style="margin-top: 28px">
            <div class="view view-cascade">
              <img class="card-img-top img-fluid img-responsive imageClass center-block " [src]="imagePath2"  alt="Card image cap">
               <p class="card-text">Flat 35% Off + 25% Cashback On Monthly Essentials </p>
              <!-- <a>
                <div class="mask rgba-white-slight"></div>
              </a> -->
            </div>
           
              <button type="button" class="btn btn-outline-primary mx-auto  d-block  "> Get Coupon
                  <span class="spinner-grow spinner-grow-sm"></span>

              </button>
              
            
            
        </div>
          </div>
        <div class="col-md-3   d-flex">
            <div class="card card-cascade narrower mb-3 border border-dark" style="margin-top: 28px">
              <div class="view view-cascade">
                <img class="card-img-top img-fluid img-responsive imageClass" [src]="imagePath3"  alt="Card image cap">
               <p class="card-text">Exclusive Offer – Upto 60% + Extra 11% Off + Upto Rs.500 Mobikwik SuperCash</p>
                <!-- <a>
                  <div class="mask rgba-white-slight"></div>
                </a> -->
              </div>
                <button type="button" class="btn btn-outline-primary mx-auto d-block "> Get Coupon
                    <span class="spinner-grow spinner-grow-sm"></span>

                </button>

            
          </div>  
          </div>
          <div class="col-md-3  d-flex">
              <div class="card card-cascade narrower mb-3 border border-dark" style="margin-top: 28px">
                <div class="view view-cascade">
                  <img class="card-img-top img-fluid img-responsive imageClass" [src]="imagePath5"  alt="Card image cap">
                  <p class="card-text">Super Value Day – Upto 40% Off + Extra 15% (Upto Rs.600) SBI Discount On Grocery </p>
                  <!-- <a>
                    <div class="mask rgba-white-slight"></div>
                  </a> -->
                </div>
                  <button type="button" class="btn btn-outline-primary mx-auto d-block"> Get Coupon
                      <span class="spinner-grow spinner-grow-sm"></span>

                  </button>

               
              
            </div> 
            </div>
</div>
    <!-- </div> -->
  </div>
 
